<footer class="bg-body-tertiary text-center fixed-bottom">
    <!-- Grid container -->
    <div class="container p-2">
        <div class="col-md-6 col-lg-4 col-xl-3 mx-auto mb-md-0 mb-2">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-2">Contact</h6>
            <p><i class="fas fa-envelope me-3"></i> lopezjuanmiguel37@gmail.com</p>
        </div>
    </div>
    <!-- Grid container -->
    <!-- Copyright -->
    <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2024 Juan Miguel Lopez
    </div>
    <!-- Copyright -->
</footer>