{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Juego</title>
</head>
<body>

    <div class="container mt-4">
        {% if game %}
        <div class="row">
            {% for game_detail in game %}
            <h1>{{ game_detail.name }}</h1>
                <div class="col-md-8">
                    

                    <div class="card w-100 mb-4">
                        <img src="https://images.igdb.com/igdb/image/upload/t_cover_big_2x/{{ game_detail.cover.image_id }}.jpg" class="card-img-top" alt="{{ game_detail.name }}">
                        <div class="card-body">
                            <p class="card-text">{{ game_detail.summary }}</p>
                            <!-- Otros detalles del juego -->
                        </div>
                    </div>
                </div>

                <!-- Button to add the game to the wishlist -->
                <div class="col-md-4 d-flex align-items-start justify-content-end">
                    <button class="btn btn-primary" onclick="addToWishlist('{{ game_detail.id }}, {{game_detail.name}}')">Agregar a la Lista de Deseos</button>
                </div>
            {% endfor %}
        </div>

        {% else %}
            <p>No se encontró el juego.</p>
        {% endif %}
    </div>

    <script>
        function addToWishlist(game_id, game_name) {
            fetch('/games/add_to_wishlist/?game_id=' + game_id)
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    alert('Se ha agregado el juego a la lista de deseos: ' + game_name);
                } else {
                    alert('Error: ' + data.message);
                }
            });
        }
    </script>

</body>
</html>

{% endblock %}