{% extends 'base.html' %} 
{% block content %}

{% if user.is_authenticated %}

<div class="container mt-4">
    <h1>Juegos encontrados:</h1>

    {% if data %}
        <div class="row">
            {% for game in data %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <a href="{% url 'game_detail' game.id %}">
                        <img src="https://images.igdb.com/igdb/image/upload/t_cover_big_2x/{{ game.cover.image_id }}.jpg" class="card-img-top" alt="{{ game.name }}">
                    </a>
                        <div class="card-body">
                            <h5 class="card-title">{{ game.name }}</h5>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No se encontraron juegos.</p>
    {% endif %}
</div>

{% else %}
<h1> Debe iniciar sesion para ver informacion de juegos <h1/>
{% endif %}
{% endblock %}